@font-face {
	font-family: 'rotondaBold';
	src: url(../fonts/rotonda_bold.woff);
	font-weight: 700;
}

@font-face {
	font-family: 'rotondaC';
	src: url(../fonts/rotondac.woff);
	font-weight: 400;
}

html {
	scroll-behavior: smooth;
}

html:root {
	--bg-color: #fafafa;
	--header-color: #e7ebf3;
	--footer-color: #536e70;
	--base-color: #7bd0ed;
	--base-transparent: rgba(27, 137, 177, .05);
	--text-color: #474a51;
	--text2-color: #fafafa;
	--grey-color: rgba(158, 164, 177, 0.5);
	--lightbase-color: #fff5ea;
	--title-font: rotondaBold, Helvetica, Arial;
	--text-font: rotondaC, Helvetica, Arial;
	--animation-time: 300ms;
	--animate-duration: 900ms;
	--animate-delay: 9s;
	--before-shadow: 0 5px 6px 5px rgba(191, 191, 191, .05);
	--half-screen: calc(-50vw + 1em);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
input:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
div:focus {
	outline: 0 !important;
	outline-color: transparent !important;
	outline-width: 0 !important;
	outline-style: none !important;
	box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	font-size: 14px;
	min-height: 100vh;
	background: var(--bg-color);
	color: var(--text-color);
	font-family: var(--text-font);
	overflow-x: hidden;
	line-height: 1;
}

p {
	line-height: 1.5;
	margin-bottom: 0;
}

ul {
	margin-bottom: 0;
	list-style-position: inside;
}

figure {
	margin: 0 0 0;
}

img {
	max-width: 100%;
	height: auto;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin: 0;
	padding: 0;
	font-weight: 600;
	line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: .5em;
}

.h1 {
	font-size: 4em;
	font-weight: bold;
}

.h2 {
	font-size: 3em;
	font-weight: bold;
}

.h3 {
	font-size: 2.25em;
	font-weight: bold;
}

.h4 {
	font-size: 1.85em;
}

.h5 {
	font-size: 1.25em;
}

.uppercase {
	text-transform: uppercase;
}
.grey {
	color: var(--grey-color);
}
label {
	margin-bottom: 0;
}

a {
	color: var(--base-color);
	text-decoration: none;
	transition: var(--animation-time) ease-in-out;

	&:hover,
	&:focus,
	&:active {
		color: var(--text-color);
		text-decoration: none;
	}
}

.base-text {
	color: var(--base-color);
}

.link {
	color: var(--text-color);
	transition: var(--animation-time);

	&:active,
	&:focus,
	&:hover {
		color: var(--base-color);
	}
}

.stretched-link {
	&::after {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		z-index: 1;
		pointer-events: auto;
		content: "";
		background-color: none;
	}
}

.btn__common {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	background: inherit;
	border-radius: 30px;
	padding: 1em 1.5em;
	transition: 300ms;
	text-align: center;
	font-weight: 600;
	font-size: 1.2em;
	font-family: var(--title-font);
	letter-spacing: 1px;
	overflow: hidden;
	color: inherit;
	text-transform: uppercase;
	text-align: center;
	width: auto;

	&.btn__base {
		background: var(--base-color);
		border: 1px solid var(--base-color);
		color: #fff;

		&:hover {
			background: var(--bg-color);
			color: var(--base-color);
			border: 1px solid var(--base-color);
		}
	}

	&.btn__second {
		background: var(--bg-color);
		border: 1px solid var(--bg-color);
		color: var(--base-color);

		&:hover {
			background: var(--base-color);
			color: var(--bg-color);
			border: 1px solid var(--bg-color);
		}
	}
}

.unicode {
	font-family: var(--base-reg);
	font-size: 1em;
}

.container {
	margin: 0 auto;
}

.grid {
	display: grid;
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.animate__animated {
	--animation-delay: 800ms;
	--animate-duration: 800ms;
}

.pagination__block {
	display: flex;
	justify-content: center;
	padding: 2em 0;
	width: 100%;
}

.page__item {
	&:not(:last-child) {
		margin-right: 1em;
	}

	.page__link {
		font-size: 1.2em;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2.5em;
		height: 2.5em;
		border-radius: 50%;

		&:hover {
			background: var(--base-color);
			color: var(--bg-color);
		}
	}

	&.active {
		.page__link {
			background: var(--base-color);
			color: var(--bg-color);
		}
	}
}

.form__search {
	display: flex;
	height: 50px;
	width: 200px;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	border: 1px solid var(--grey-color);
	&:hover,
	&:active,
	&:focus {
		.search__icon {
			display: none;
		}
	}

	.search__input {
		padding-left: 10px;
		background: rgba(255, 255, 255, 0.15);
		backdrop-filter: blur(20px);
		border-radius: 5px;
		height: 100%;
		width: 100%;
		line-height: 100%;
		transition: var(--transition-time);
		font-size: .875em;
		border: 0 !important;
		color: var(--text2-color);
		transition: all .3s ease-in-out;
		&::placeholder {
			fill: var(--text2-color);
			transition: all .3s ease-in-out;
		}

		&::-webkit-search-cancel-button {
			position: relative;
			right: 10px;
		}

		&::-ms-clear {
			margin-right: 10px
		}

		&:focus,
		&:hover,
		&:active {
			background: var(--white-color);
			color: var(--text-color);

			&+.search__icon {
				display: none;
			}

			&::placeholder {

				fill: var(--text-color)
			}
		}
	}

	.search__icon {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 0;
		right: 0;
		height: 100%;
		width: 35px;
	}

	.ui-helper-hidden-accessible {
		position: absolute;
		left: 0;
		top: 100%;
		display: block;
	}
}

.content__inner {
	width: 100% !important;
	word-break: break-word;
	background-color: var(--header-color);
	padding: 1.5em;

	a {
		color: var(--base-color);

		&:visited {
			color: var(--text-color);
		}

		&:hover,
		&:focus,
		&:active {
			text-decoration: underline;
		}
	}

	ul {
		color: var(--text-color);
	}

	li {
		color: var(--text-color);
		margin-bottom: 1em;
	}

	img {
		margin: 1em 0;
		max-width: 100%;
		height: auto;
	}

	video {
		max-width: 100%;
		height: auto;
	}

	iframe {
		width: 100% !important;
	}

	p {
		line-height: 1.5;
		font-family: var(--text-font);
		color: var(--text-color);
		margin-bottom: .5em;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		margin: 1em 0;
		margin-top: 0;
		color: var(--base-color) !important;
	}

	table {
		border-collapse: collapse;
		margin: 0;
		padding: 0;
		table-layout: fixed;
		margin-bottom: 1.25em;
		width: 100% !important;
		max-width: 100% !important;
		border-spacing: 0;
		border: 1px;

		p {
			margin-bottom: 0 !important;
		}

		caption {
			font-size: 1.5em;
			margin: .5em 0 .75em;
		}
	}

	tbody {
		width: 100%;
	}

	tr {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100% !important;
		height: auto !important;

		.th,
		.td {
			flex: 1 1;
			padding: .5em;
			vertical-align: baseline;
			height: auto !important;
			border: 1px;
		}

		th {
			font-size: .85em;
			letter-spacing: .1em;
			text-transform: uppercase;
		}
	}

	&.about__inner {
		background: inherit;

		p {
			color: var(--text2-color);
		}

		a {
			color: var(--text2-color);

			&:visited {
				color: var(--text-color);
			}
		}

		ul {
			color: var(--text2-color);
		}

		li {
			color: var(--text2-color);
		}
	}
}