@media (max-width: 576px) {
	.container {
		width: 100%;
	}
}

@media (min-width: 576px) {
	.container {
		width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1140px;
	}
}

@media (min-width: 1400px) {
	.container {
		width: 1320px;
	}
}

// @media (max-width: 1330px) {
	
// }

@media (max-width: 1199px) {
	.h1 {
		font-size: 3.2em;
		font-weight: bold;
	}
	.h2 {
		font-size: 2.5em;
		font-weight: bold;
	}
	.h3 {
		font-size: 2em;
		font-weight: bold;
	}
	.h4 {
		font-size: 1.55em;
	}
	.h5 {
		font-size: 1.25em;
	}

	.services__block {
		grid-gap: 1em;
	}

	.footer__block {
		grid-template-columns: repeat(7, minmax(100px, 1fr));
	}
}

@media (max-width: 992px) {
	body {
		font-size: 12px;
	}
	.container {
		width: 100%;
		max-width: 100%;
		padding: 0 30px;
	}

	.content__inner {
		padding: 0;
	}

	.header {
		&.open {
			box-shadow: none;
		}
	}
	.header__block,
	.footer__block {
		grid-template-columns: repeat(3, minmax(150px, 1fr));
	}
	.header__search {
		grid-column: span 1;
	}
	.header__eye {
		display: none;
	}
	.header__info {
		grid-column: span 1;
	}
	.header__title {
		grid-column: span 2;
	}
	.section__item {
		padding: 1.5em 0;
	}

	.header__info {
		flex: 0 0 auto;
	}

	.footer__title {
		grid-column: span 2;
		order: 1;
	}
	.footer__info {
		grid-column: span 1;
		order: 2;
	}
	.footer__social {
		order: 3;
		grid-column: span 2;
		justify-content: flex-start;
		align-items: flex-start;
		text-align: left;
		.social__block {
			justify-content: flex-start;
		}
	}
	.footer__rights {
		order: 4;
		grid-column: span 1;
	}
	.footer__copy {
		order: 5;
		grid-column: span 1;
	}
	.footer__dev {
		order: 6;
		grid-column: span 1;
	}

	.nav__block {
		justify-content: flex-start;
	}
	.nav__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1em;
	}

	.nav__list {
		flex-direction: column;
		background: var(--header-color);
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 0;
		overflow: hidden;
		transition: 300ms all;
		z-index: 11;

		&.open {
			box-shadow: var(--before-shadow);
			height: auto;
		}
	}

	.nav__item {
		.nav__link {
			padding: 1em;
			font-size: 1.5em;
			word-break: keep-all;
		}
	}
	.map-wrapper {
		height: 450px;
	}
	.map__block {
		grid-template-columns: 2fr 1fr;
	}
	.news {
		.news__list {
			height: 200px;
		}
	}
	.news__block {
		grid-gap: 15px;
	}
	.section__gallery {
		.gallery__block {
			grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
			grid-gap: 2em;
		}
	}
	
}

@media (max-width: 768px) {
	// .header__block {
	// 	grid-template-columns: repeat(3, minmax(150px, 1fr));
	// }

	.header__search {
		grid-column: span 1;
		.search__block {
			width: 100%;
		}
		.form__search {
				display: flex;
				height: 50px;
				width: 100%;
		}
	}

	.header__logo {
		grid-column: 1;
	}

	.content__inner {
		tr {
			flex-direction: column;
			justify-content: flex-start;
			width: 100% !important;
			height: auto !important;

			th,
			td {
				flex: 1 1;
				width: 100% !important;
				padding: .5em;
				vertical-align: baseline;
			}
		}
	}

	.h1 {
		font-size: 2em;
	}

	.h2 {
		font-size: 1.8em;
	}

	.h3 {
		font-size: 1.6em;
	}

	.h4 {
		font-size: 1.4em;
	}

	.h5 {
		font-size: 1.2em;
	}

	.section__title {
		padding: 1em;
	}

	.section__block {
		padding: 0 0;
	}
	.news__block {
		grid-template-columns: 1fr;
	}
	.news-main {
		order: 1;
		height: 350px;
	}
	.news {
		order: 2;
	}
}

@media (max-width: 576px) {
	.container {
		padding-left: 1em;
		padding-right: 1em;
	}

	.header {
		&.open {
			box-shadow: none;
		}
	}

	.header__block, 
	.footer__block {
		grid-template-columns: 1fr 1fr;
	}

	.header__search {
		grid-column: span 1;
	}

	.header__eye {
		grid-column: span 1;
	}

	.header__info {
		grid-column: span 1;
	}

	.section__item {
		padding: 1.5em 0;
	}

	.header__info {
		flex: 0 0 auto;
	}

	.footer__title {
		grid-column: span 2;
	}

	.footer__info {
		order: 3
	}

	.footer__social {
		order: 2;
		grid-column: span 1;
	}

	.footer__rights {
		order: 4;
	}

	.footer__copy {
		order: 5;
	}

	.footer__dev {
		order: 6;
	}

	.nav__block {
		justify-content: flex-start;
	}

	.nav__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1em;
	}

	.nav__list {
		flex-direction: column;
		background: var(--header-color);
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 0;
		overflow: hidden;
		transition: 300ms all;
		z-index: 11;

		&.open {
			box-shadow: var(--before-shadow);
			height: auto;
		}
	}
	
	.nav__item {
		.nav__link {
			padding: 1em;
			font-size: 1.5em;
			word-break: keep-all;
		}
	}
	
	.map__block {
		grid-template-columns: 1fr;
	}

	.news {
		.news__list {
			height: 200px;
		}
	}

	.news__block {
		grid-gap: 15px;
	}

	.section__gallery {
		.gallery__block {
			grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
			grid-gap: 2em;
		}
	}
	.region__block,
	.areas__block {
		grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
		grid-gap: 1em;
	}
}

@media (max-width: 768px) {


}