 @import 'base';
.header {
	background: var(--header-color);
}
.header__block {
	display: flex;
	justify-content: space-between;
}

.header__search,
.header__info {
	flex: 0 0 200px;
	display: flex;
	align-self: flex-start;
	padding-top: 1em;
}
.header__info {
	font-size: 1.2em;
}
.info__item {
	.link {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 28px;
	}
	.icon-icon {
		margin-right: .3em;
	}
}
.navbar {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 0;
	height: 100%;
	background: var(--header-color);
	box-shadow: var(--before-shadow);
}
.nav__block {
	width: 100%;
	display: flex;
	justify-content: center;
}
.nav__toggler {
	border: none;
	padding: .5em;
	background: inherit;
	cursor: pointer;
}

.nav__icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	position: relative;
	transform: rotate(0);
	transition: .5s ease-in-out;

	span {
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		background: var(--base-color);
		border-radius: 9px;
		opacity: 1;
		left: 0;
		transform: rotate(0);
		transition: .25s ease-in-out;

		&:nth-child(1) {
			top: 0;
		}

		&:nth-child(2) {
			top: 6px;
		}

		&:nth-child(3) {
			top: 12px;
		}
	}

	&.open {
		top: -10px;

		span {
			&:nth-child(1) {
				top: 18px;
				transform: rotate(135deg);
			}

			&:nth-child(2) {
				opacity: 0;
				left: -60px;
			}

			&:nth-child(3) {
				top: 18px;
				transform: rotate(-135deg);
			}
		}
	}
}

.nav__btn {
	display: none;
}

.nav__list {
	padding-left: 0;
	list-style-type: none;
	display: flex;
}

.nav__item {
	.nav__link {
		font-size: 1.1em;
		display: block;
		padding: 1em 1em;
		text-align: center;
		word-wrap: normal;
	}
}

.header__logo {
	padding: 1em;
}

.social__block {
	display: flex;
	margin-right: 1.5em;
}

.social__item {
	&:not(:last-child) {
		margin-right: .5em;
	}

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		background: var(--grey-color);
		border-radius: 50%;
		overflow: hidden;

		img {
			width: 20px;
			height: 20px;
		}

		&:hover {
			background: var(--base-color);
		}
	}
}
.section__item {
	&:not(.section__banner) {
		padding: 5em 0;
	}
}
.section__title {
	display: flex;
	justify-content: center;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 3em;
	text-align: center;
}
	
.section__banner {
	// height: calc(100vh - 168px);
	height: 600px;
}
.banner__block {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}
.banner__item {
	height: 100%;

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.news__block {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 30px;
}

.news {
	background: var(--base-transparent);
	overflow: hidden;
	border-radius: 20px;
	padding: 0;
	.news__header {
		padding: 30px 30px 20px 30px;
	}
	.news__content {
		padding: 0 30px 30px 30px;
	}
	.news__list {
		height: 400px;
		overflow: hidden scroll;
		padding: 0;
		list-style-type: none;
	}
	.list__item {
		margin-bottom: .5em;
	}
	.news__header {
		display: flex;
		justify-content: space-between;
	}
}

.news-main {
	position: relative;
	border-radius: 20px;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.news-main__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}
.news-main__filter {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: rgba(37, 37, 37, 0.5);
}
.news-main__content {
	height: 100%;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.news-main__title {
		margin-top: auto;
		margin-bottom: 30px;
		color: var(--text2-color);
	}
}
.section__map {
	background: #e7ebf3;
}
.map__block {
	position: relative;
	// display: flex;
	// justify-content: center;
	display: grid;
	grid-template-columns: 1fr 3fr;
}
.map {
	padding: 0 30px;
	// width: 80%;
	svg {
		width: 100%;
		height: 100%;

		.part {
			fill: rgb(237, 246, 155);
			stroke: rgb(69, 70, 70);

			&.part23 {
				fill: rgb(123, 208, 237);
			}
		}
	}
}
.map__info {
	// display: none;
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	overflow: hidden;
	background: var(--bg-color);
	.info__text {
		.title {
			margin-bottom: 1em;
		}
		padding: 1.5em;
	}
	.info__list {
		padding-left: 0;
		list-style-position: inside;
		list-style-type: none;
	}
	.info__item {
		border-bottom: .5px solid var(--grey-color);
		&:first-child {
			border-top: .5px solid var(--grey-color);
		}
		.link {
			display: block;
			padding: .5em 1.5em;
			&:hover {
				background: var(--base-color);
				color: var(--text2-color);
			}
		}
	}
	.info__img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		margin-bottom: 1em;
		width: 100%;
		height: 100%;
		img {
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 100%;
		}
	}
}
.section__gallery {
	background: var(--bg-color);
	color: var(--text-color);

	.gallery__block {
		grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
		grid-auto-rows: auto;
		grid-gap: 30px;
	}

	.swiper-container {
		padding-bottom: 4em;
	}

	.swiper-slide {
		padding: 5px;
	}

	.swiper-buttons {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 30px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.swiper-button-prev,
	.swiper-button-next {
		position: static;
		margin-top: 0;
		height: 30px;
		width: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: var(--base-color);
		color: var(--text2-color);
		border: 1px solid var(--base-color);

		img {
			height: 24px;
		}

		&::after {
			content: '';
		}

		&.swiper-button-disabled {
			opacity: .2;
		}
	}

	.swiper-button-prev {
		img {
			transform: scaleX(-1);
		}
	}
}
.gallery__item {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	box-shadow: var(--before-shadow);

	figure {
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			transition: var(--animation-time);
		}
	}

	.item__title {
		font-size: .9em;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 1em;
		min-height: 50px;
		background: var(--base-color);
		color: var(--text2-color);
	}

	&:hover,
	&:focus {
		img {
			transform: scale(1.01);
		}
	}
}
.video__block {
	.swiper {
		height: 450px;
	}
	.swiper-slide {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.video__slide {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	video, iframe {
		width: 500px;
		height: 350px;
		object-fit: cover;
	}
}

@import 'queries';